{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R | PAYMENT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head><br><br><br><br><br><br>
<header>
    <a href="#" class="logo"><i class="fas-fa-utensils"></i>Resturant.</a>

    <nav class="navbar">
    
    <a class="active" href="" name="home">home</a>
  
    <a href="dishes/">dishes</a>
    <a href="about/">about</a>
    <a href="menu/">menu</a>
    <a href="review/">review</a>
    <a href="order/">order</a>
    <a href="search/">search</a>
</nav>


</header>
<body>
    
</body>
</html>